@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.listValie{
    border: 1px solid lightgray;
    padding: 10px;
}

.btn-vote {
    font-size: 25px;
    border: none;
    color: #6060f5 !important;
    background-color: none !important;
    border-color: none !important;
}

.btn-vote :hover {
    color: #2626f5 !important;
    background-color: none !important;
    border-color: none !important;
}